.center(){
  display:flex;
  justify-content:space-around;
  align-items:center;
}
/* 第一区域 */
.header{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  background-color:#b2c5cc;
  .bar{
    display:none;
  }
  .nav{
    .center;
    width:50%;
    text-align:center;
    line-height:1.1rem;
    font-size:.16rem;
    &__link{
      width:20%;
      color:#757575;
      &:hover{
        color:#afafaf;
        transition:color 1s;
      }
      &_active{
        color:#afafaf;
      }
    }
  }
  .box{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:1.65rem;
    padding:.6rem 0 2.18rem 0;
    &__img{
      width:1.3rem;
    }
    &__txt{
      padding:.42rem 0 .75rem 0;
      font-size:.16rem;
      color:#fff;
    }
    &__btn{
      width:100%;
      height:.48rem;
      line-height:.48rem;
      text-align:center;
      border:0;
      color:#666;
      font-size:.12rem;
      background-color:#ddd;
      &:hover{
        background-color:rgb(255, 255, 255);
        transition:background-color 1s;
      }
    }
  }
}
/* 第二区域 */
.about{
  .center;
  width:100%;
  text-align:center;
  line-height:.8rem;
  font-size:.14rem;
  box-sizing:border-box;
  border-bottom:1px solid #ccc;
  &__link{
    width:25%;
    color:#bababa;
    &:hover{
      color:#545454;
      transition:color 1s;
    }
    &_active{
      color:#545454;
    }
  }
}
/* 第三区域 */
.responsive{
  .center;
  flex-direction:column;
  width:48%;
  margin:1rem auto;
  &__title{
    font-size:.24rem;
    line-height:.7rem;
    color:#545454;
  }
  &__txt{
    font-size:.12rem;
    letter-spacing:.01rem;
    line-height:2.1;
    color:#bababa;
  }
}
/* 第四区域 */
.website{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  line-height:.75rem;
  padding:0 .65rem;
  color:#bababa;
  box-sizing:border-box;
  background-color:#f4f4f4;
  &__name{
    font-size:.18rem;
  }
  &__site{
    font-size:.16rem;
  }
  &__link{
    display:inline-block;
    color:#000;
  }
}
/* 第五区域 */
.course{
  .center;
  flex-direction:column;
  width:100%;
  padding:.65rem 0;
  background:url("../img/bg.jpg") center/cover no-repeat;
  &__title{
    width:8.8rem;
    color:#888;
    font-size:.22rem;
    line-height:1.5;
  }
  &__item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    width:8.8rem;
    height:5.3rem;
    font-size:0;
  }
  &__link{
    display:inline-block;
  }
  &__img{
    width:2.8rem;
    height:2.4rem;
    vertical-align:middle;
    &:hover{
      width:3.08rem;
      height:2.64rem;
      transition-property:width, height;
      transition-duration:1s;
    }
  }
}
/* 第六区域 */
.footer{
  .center;
  width:100%;
  line-height:4;
  font-size:.22rem;
  color:#000;
  background-color:#f1f1f1;
}
/* 适配iPhone6 */
@media screen and (max-width:420px){
  .header{
    position:relative;
    .bar{
      .center;
      flex-direction:row;
      position:absolute;
      z-index:9;
      width:100%;
      height:1rem;
      text-align:center;
      background-color:#7ea6b1;
      &__title{
        flex-grow:1;
        font-size:.46rem;
        color:#fff;
        margin-left:.8rem;
      }
      &__btn{
        display:line-block;
        width:.35rem;
        height:.35rem;
        margin-right:.45rem;
        border:1px solid #b2c5cc;
        background-color:#7ea6b1;
      }
    }
    .nav{
      display:flex;
      flex-direction:column;
      position:absolute;
      top:-1.6rem;
      z-index:1;
      width:100%;
      background-color:#7ea6b1;
      &__link{
        width:100%;
        height:.48rem;
        line-height:.48rem;
        color:#fff;
        border-bottom:1px solid #b2c5cc;
      }
    }
    .box{
      margin-top:1rem;
    }
  }
  .website{
    flex-direction:column;
    line-height:.5rem;
    padding:.2rem 0;
  }
  .course{
    &__item{
      height:7.9rem;
    }
    &__img{
      width:4.3rem;
      &:hover{
        width:4.45rem;
        height:2.5rem;
      }
    }
  }
}