/* 第一区域 */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #b2c5cc;
}
.header .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 1.1rem;
  text-align: center;
  line-height: 1.1rem;
  font-size: .16rem;
}
.header .nav__link {
  width: 20%;
  color: #757575;
}
.header .nav__link:hover {
  color: #afafaf;
  transition: color 1s;
}
.header .nav__link_active {
  color: #afafaf;
}
.header .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1.65rem;
  padding: .6rem 0 2.18rem 0;
}
.header .box__img {
  width: 1.3rem;
}
.header .box__txt {
  padding: .42rem 0 .75rem 0;
  font-size: .16rem;
  color: #fff;
}
.header .box__btn {
  width: 100%;
  height: .48rem;
  border: 0;
  color: #000;
  font-size: .12rem;
  background-color: #ccc;
}
.header .box__btn:hover {
  background-color: #ffffff;
  transition: background-color 1s;
}
/* 第二区域 */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: .8rem;
  text-align: center;
  line-height: .8rem;
  font-size: .14rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.about__link {
  width: 25%;
  color: #bababa;
}
.about__link:hover {
  color: #545454;
  transition: color 1s;
}
.about__link_active {
  color: #545454;
}
/* 第三区域 */
.responsive {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 2.8rem;
  margin: 1rem auto;
}
.responsive__title {
  font-size: .24rem;
  line-height: .7rem;
}
.responsive__txt {
  font-size: .12rem;
  line-height: .26rem;
}
/* 第四区域 */
.website {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: .75rem;
  line-height: .75rem;
  padding: 0 .6rem;
  color: #6e6e6e;
  box-sizing: border-box;
  background-color: #f4f4f4;
}
.website__name {
  font-size: .16rem;
}
.website__site {
  font-size: .12rem;
}
.website__link {
  display: inline-block;
  color: #000;
}
/* 第五区域 */
.course {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: .65rem 0;
  background: url("../img/bg.jpg") center / cover no-repeat;
}
.course__title {
  width: 8.8rem;
  color: #888;
  font-size: .2rem;
  line-height: .32rem;
}
.course__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 8.8rem;
  height: 5.3rem;
  font-size: 0;
}
.course__link {
  display: inline-block;
}
.course__img {
  width: 2.8rem;
  height: 2.4rem;
  vertical-align: middle;
}
.course__img:hover {
  width: 3.08rem;
  height: 2.64rem;
  transition-property: width, height;
  transition-duration: 1s;
}
/* 第六区域 */
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: .65rem;
  font-size: .16rem;
  color: #000;
  background-color: #f1f1f1;
}
